<!DOCTYPE html>
<html lang="lv">

<head>
  <title>Saske</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:#C1C1CC;" class="page4">

<div class="header">
  <h1><mark>Naruto-pēdija</mark></h1>
</div>

<form action="/action_page.php">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" ><br>
<form>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd" ><br><br>
  <input type="submit" value="Submit" >
</form>
 
</body>
  
</html>