<!DOCTYPE html>
<html lang="lv">

<head>
  <title>Naruto</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  <style>
  table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
    
td, th {
  border: 1px solid #FED965;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
    
tr:nth-child(even) {
  background-color: #FED965;
}
  </style>
</head>

<body style="background-color:#FED965;" class="page2">

<div class="header">
  <h3><mark>Naruto-pēdija</mark></h3>
</div>

<div class="topnav">
    <a href="/">Galvena</a>
    <a href="/par_mums">Par mums</a>
    <a href="/varoni">Varoņi</a>
    <a href="/palidziba">Palīdzība</a>
    <a href="/karte">Karte</a>
  </div>


  <h1 style="font-size:40px;">Karta visai pasaulei no <ins>Narutas visumu</ins></h1>
 <img width="1600" height="900" src="static/images/Narutomap2.JPG" alt="Karta" "></img>

  
    <tr>
      <p><i>Vēja valsts</i> (jp. 風の国, Kadē bet Kūni) ir viena no pazīstamākajām valstīm seriālā. Atrodas dienvidrietumos no uguns un robežojas ar upju un ciematu zemi. Valdības vadītājs ir vējš. Neskatoties uz to, ka valsts sedz plašu teritoriju, tā lielā mērā sastāv no tuksneša un tāpēc maz ražo. Tā kā gada laikā ir ļoti maz nokrišņu, tad valsts iedzīvotāji dzīvo ciematos, kas uzcelti blakus oāzēm. Lai gan dabas apstākļi ir ļoti bargi, valsts iedzīvotāji ir diezgan daudz. Neskatoties uz starpvalstu karu pagātnē, šobrīd vēja valstij un uguns valstij ir labas attiecības. Starp divām valstīm ir liels apgrozījuma apjoms.</p>




    </tr>
    </td>
</div>

  
  <p><button class="button4"><a href="/">Galvena lappuse</button></p>

  <footer>
    <div class="foot1">@ Victoria Matjuscenko_2023 year</div>
  </footer>
  
</body>
  
</html>