<!DOCTYPE html>
<html lang="lv">

<head>
  <title>Naruto</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  <style>
  table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
    
td, th {
  border: 1px solid #FED965;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
    
tr:nth-child(even) {
  background-color: #FED965;
}
  </style>
</head>

<body style="background-color:#FED965;" class="page2">

<div class="header">
  <h3><mark>Naruto-pēdija</mark></h3>
</div>

<div class="topnav">
    <a href="/">Galvena</a>
    <a href="/par_mums">Par mums</a>
    <a href="/varoni">Varoņi</a>
    <a href="/palidziba">Palīdzība</a>
    <a href="/karte">Karte</a>
  </div>
  
  <h1 style="font-size:40px;">Par <ins>Naruto Uzumaki</ins></h1>
  
  <table style="width:100%">
    <tr>
      <td><p><mark>Naruto Uzumaki</mark> (japāņu: うずまきナルト Uzumaki Naruto) — galvenais varonis. enerģisks un dzīvespriecīgs, noželojams, ne visai apķērīgs mācībās, bet pietiekami viltīgs kaujās. Sapņo kļūt par Hokagi, ciemata vadoni, un iegūt visa ciemata atzinību. Apveltīts ar cietu gribu, izturību un lieliem čakras krājumiem, kas ļauj viņam apgūt daudzas spēcīgas tehnikas, lai kļūtu par vienu no varenākajiem nindzjām pasaulē. Pieaugot un sastopoties ar nopietnām problēmām, arī viņš kļūst nopietnāks. Apņēmies par katru cenu atgūt savu draugu Saski, kā arī atnest nindzju pasaulei īstu mieru.</p>
      
<p>Naruto ir dzimis Konohā, Apslēpto lapu ciematā. Viņa vecāki ir Minato Namikaze, ciemata Ceturtais Hokage, un Kušina Uzumaki. Neilgi pēc viņa dzimšanas ciematam uzbruka Deviņu astu dēmons lapsa Kjūbi. Minato un Kušina upurēja savas dzīvības, lai uzveiktu Kjūbi un ieslodzītu viņu Naruto ķermenī. Tā Naruto kļuva par bāreni, toties ieguva neparastas spējas - lielu izturību, ātru izdziedēšanos, lielus čakras krājumus un iespēju nākotnē izmantot Kjūbi spēku.</p>
     
<p>Trešais Hokage turēja noslēpumā faktu, ka Naruto bija Minato dēls, viņš arī aizliedza pieaugušajiem ciema iedzīvotājiem runāt par to, ka Naruto ir Kjūbi spēks. Bet tas netraucēja viņiem ienīst Naruto un baidīties no zēna. Ar laiku tādas jūtas parādījās arī viņu bērnos. Tāpēc Naruto auga vientuļš, nemīlēts un nesaprasts. Pieaugot viņš centās pievērst apkārtējo uzmanību ar huligāniskiem izlēcieniem, jo mācības Nindzju Akadēmijā viņam padevās ar grūtībām. Viņš arī loloja sapni reiz kļūt par nākamo Hokagi, lai visi viņu atzītu un cienītu.</p>
     
<p>Izrādot drosmi, pašaizliedzību, un neatlaidību, Naruto ar laiku iegūst citu atzinību. Pirmais ir skolotājs Iruka no Akadēmijas, bet pēc tam 7. komanda, kurā Naruto nonāk pēc Akadēmijas pabeigšanas. Sensejs Hataki Kakaši, meitene Sakura, kurā Naruto ir ieķērties, Saske, kurš uzskata Naruto par idiotu - viņi visi iepazīst Naruto un kļūst par viņa draugiem, lai arī ne vienmēr viņu attiecībās viss ir gludi. Tomēr apkārtējo ticība Naruto un viņa paša apņēmība palīdz viņam kļūt stiprākam, pierādot, ka viņš nav tāds neveiksminieks un muļķis, kā daudzi uzskatīja. Vēl vairāk, laikam ejot, Naruto kļūst par vienu no spēcīgākajiem nindzjām pasaulē.</p></td>
  <td>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_QBHjjmMzJs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </td>
    </tr>
  </table>
  
  <p><button class="button4"><a href="/">Galvena lappuse</button></p>

  <footer>
    <div class="foot1">@ Victoria Matjuscenko_2023 year</div>
  </footer>
  
</body>
  
</html>