<!DOCTYPE html>
<html lang="lv">

<head>
  <title>Naruto</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  <style>
  table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
    
td, th {
  border: 1px solid #B89FD2;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
    
tr:nth-child(even) {
  background-color: #B89FD2;
}
  </style>
</head>

<body style="background-color:#B89FD2;" class="page2">

<div class="header">
  <h3><mark>Naruto-pēdija</mark></h3>
</div>

<div class="topnav">
    <a href="/">Galvena</a>
    <a href="/par_mums">Par mums</a>
    <a href="/varoni">Varoņi</a>
    <a href="/palidziba">Palīdzība</a>
    <a href="/karte">Karte</a>
  </div>
  
  <h1 style="font-size:40px;">Par <ins>Naruto Uzumaki</ins></h1>
  
  <table style="width:100%">
    <tr>
      <td><p><mark>Orochimaru</mark> (大蛇丸) ir viens no Konohagakure leģendārajiem “Sannin”. Orochimaru, kura mērķis ir izzināt visus pasaules noslēpumus, meklē nemirstību, lai varētu dzīvot visu to dzīvi, kas nepieciešama, lai izpildītu savu uzdevumu. Kad šīs nemirstības dēļ Orochimaru tika pieķerts ar sarkanām rokām veicam neētiskus eksperimentus ar saviem līdzpilsoņiem, viņu drīzāk atņēma Konoha, nevis vajāja viņa ambīciju dēļ, un daudzus gadus meklēja ciema iznīcību, lai atriebtos un demonstrētu to, ko viņš bija iemācījies. Pēc vairākiem acīmredzamiem nāves gadījumiem viņa mērķu sasniegšanā Orochimaru saprot, ka viņa pieeja ir kļūdaina Kabuto Jakushi, viņa agrākais līdzgaitnieks, un sāk uzraudzīt sava bijušā mācekļa Sasuke Uchiha izvēli un rīcību.</p>
        
<p>Orochimaru ir sarežģīta personība, tomēr biežāk viņu par “savērptu” raksturoja liels skaits cilvēku, arī Tsunade. Jiraija prātoja, ka viņa vecāku nāve, kad viņš vēl bija jauns, kā arī viņa šausmas par to, ka Tsunade zaudēja Nawaki, un vēlāk asaras, kad viņa zaudēja Denu, nozīmē to, ka Orochimaru arvien vairāk izjuta riebumu pret cilvēku dzīves trauslumu un to, kā tas ietekmēja tos, kas vēl dzīvoja, un tas noveda viņu pie nemirstības alkas. Šajā nolūkā galvenais Orochimaru cilvēka eksperimentu mērķis ir pārbaudīt, kādas modifikācijas cilvēka ķermenis spēj pārciest un izmantot pētāmās personas unikālās spējas. Kad šis mērķis tika sasniegts, Orochimaru bija cerējis kļūt par “augstākās esības” titula cienīgu, nespējot nomirt un spējot sasniegt savu sekundāro mērķi apgūt katru ninja tehniku pasaulē, kas parasti prasa daudz laika.</p>    

<p>Orochimaru bija bārenis, kas kļuva par Hiruzen Sarutobi skolnieku kopā ar Džiraiju un Tsunade. Salīdzinājumā ar Jiraiju Hiruzen bija ģēnijs, un Orochimaru uzskatīja, ka viņa talanti, atklāsme un apņēmība ir tāda, kādu viņš bija redzējis tikai vienu reizi paaudzē. Saskaņā ar Tsunade teikto, Orochimaru bija savijusies personība pat bērnībā. Viņa sadistiskā attieksme, domājams, bija saistīta ar viņa vecāku nāvi. Kādā brīdī pēc to zaudēšanas Orochimaru pie vecāku kapa atrada baltu čūsku, kuras izskaidrojums bija Hiruzen bagātība un atdzimšana, kas iedvesmoja Orochimaru pētīt kinjutsu un iegūt zināšanas par visām metodēm. Jiraijas teorētiķis atklāja, ka Orochimaru nogājis šo ceļu, mēģinādams aizmirst savas sāpīgās atmiņas.</p>
     
<p>Otrā Šinobi pasaules kara laikā Orochimaru pievienojās Džiraijai un Tsunade cīņā ar Hanzō, kas viņiem piešķīra Konoha “Trīs leģendāri Šinobi” titulu kā balvu par to, ka viņi izdzīvojuši kaujā ar viņu, savukārt pārējie viņu grupas locekļi tika viegli nokauti šajā procesā. Atceļā uz Konohu viņi sastapās ar trim Amegakure bāreņiem, un Orochimaru ierosināja žēlastības slepkavošanu, pirms Jiraija izvēlējās viņus apmācīt. Orochimaru, iefiltrējoties ciematā un nomaskējoties par Kumo-ninu un pozējot par Zilo B ārstu, Kumogakure noorganizēja pēdējo zināmo Astoņkājaiņu kroni and, lai apmānītu viņu ar īpašām genjutsu izraisošām tabletēm, ļaujot viņam izvilkt līdzeno zvēru. Pēc tam, kad Orochimaru bija izšķīries no Astoņkāju raga, viņš no tā noņēma Zilā B DNS.</p>
      </td>
  <td>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gTFJqWwMk7U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </td>
    </tr>
  </table>
  
  <p><button class="button4"><a href="/">Galvena lappuse</button></p>

  <footer>
    <div class="foot1">@ Victoria Matjuscenko_2023 year</div>
  </footer>
  
</body>
  
</html>