<!DOCTYPE html>
<html lang="lv">
  
<head>
  <title>Palīdzība</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>
  
<body style="background-color:#D98880;" class="page6">

<div class="header">
  <h1><mark>Naruto-pēdija</mark></h1>
</div>

<div class="topnav">
    <a href="/">Galvena</a>
    <a href="/par_mums">Par mums</a>
    <a href="/varoni">Varoņi</a>
    <a href="/palidziba">Palīdzība</a>
    <a href="/karte">Karte</a>
  </div>

 <p><i>Vai jums ir kaut kādas jautājumus vai atsauksmes par mūsu saite, jus varāt sūtit vēstule </i>
<a href="mailto:simplilearn@gmail.com? cc-simplilearnsupport@gmail.com&
bec-techhead@gmail.com &subject-Feedback from the Simplilearn Support Team
&body=Add what you want to suggest"> izmantojot linku</a> </p>
  
<p><button class="button6"><a href="/">Galvena lappuse</button></p>
</body>
</html>