<!DOCTYPE html>
<html lang="lv">
  
<head>
  <title>Naruto-pēdija</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>
  
<body style="background-color:#D98880;" class="page5">

<div class="header">
  <h1><mark>Naruto-pēdija</mark></h1>
</div>

<div class="topnav">
    <a href="/">Galvena</a>
    <a href="/par_mums">Par mums</a>
    <a href="/varoni">Varoņi</a>
    <a href="/palidziba">Palīdzība</a>
    <a href="/karte">Karte</a>
  </div>
  <h1 style="font-size:40px;">Par mums.</h1>
  
<p>Šī vietne tika izveidota informatīvam saturam un ZPD projektam. Šīs lapas administrators ir 92.vidusskolas 12.b klases skolniece.
  
<p><button class="button6"><a href="/">Galvena lappuse</button></p>
</body>
</html>