<!DOCTYPE html>
<html lang="lv">

<head>
  <title>Rok Lee</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  <style>
  table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
    
td, th {
  border: 1px solid #538B54;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
    
tr:nth-child(even) {
  background-color: #538B54;
}
  </style>
</head>

<body style="background-color:#538B54;" class="page2">

<div class="header">
  <h3><mark>Naruto-pēdija</mark></h3>
</div>

<div class="topnav">
    <a href="/">Galvena</a>
    <a href="/par_mums">Par mums</a>
    <a href="/varoni">Varoņi</a>
    <a href="/palidziba">Palīdzība</a>
    <a href="/karte">Karte</a>
  </div>
  
  <h1 style="font-size:40px;">Par <ins>Roks Lī</ins></h1>
  
  <table style="width:100%">
    <tr>
      <td><p><mark>Roks Lī</mark> (ロッ・リ Rī, Rokku ー) ir Konohagakure Lī klana un “Team Guy” dalībnieks. Atšķirībā no vairuma šinobi viņam trūka prasmes, kas nepieciešamas, lai izmantotu ninjutsu vai genjutsu. Tomēr viņš pārvar šos trūkumus, jo ir īpaši apmācījis apparently Guy, tādējādi padarot viņu par taijutsu meistaru, lai gan viņš joprojām ir gēns.</p>
      
<p>Lī ir ļoti enerģisks un optimistisks cilvēks. Viņš bieži pieceļas stāvot “forša puiša” pozā, pastiepdams labo roku ar izstieptu īkšķi un smaidīdams ar žilbinošu smaidu. Viņš ciena savus pretiniekus, vēršoties pie viņiem. " Viņšir mērķtiecīgs šinobijs, viņa sapnis kļūt par šinobiju, pat ja viņš nevar izmantot nindžo un genocītu. Pakļauts nepatiesām fiziskām slodzēm, gatavs uz visu sava mērķa dēļ. Cienīgi sauc savus draugus (Kungu, Čanu, Santu), bet neizmanto sufiksus, vēršoties pie Nedžas un tēna. Tas liecina, ka tie ir ļoti tuvi. Rīkojas pēc sava sensēja un ļoti ciena viņu.</p>
     
<p>Studējot akadēmijā, viņš parādīja, ka nav spējīgs pie Nindzucas un Gendzucas. Kad viņš bija apdullis ar saviem klasesbiedriem, viņš koncentrēja uzmanību uz Taidzucu. Pēc tam, kad viņš bija sekmīgi absolvējis akadēmiju, viņš tika nosūtīts uz Gaja komandu kopā ar Nedžu Hjūgu un Tentenu. Pirmajā tikšanās reizē viņš bija apsolījis kļūt par spēcīgu nindzju, kurš neprot izmantot Nindzucu vai Hendziņu. Viņš smējās par viņu, bet viņu Sensejs, Mato Gajs, bija ļoti ieinteresēts. Viņš lūdza, lai turas kopā ar viņu, un laiku pa laikam sāka pasniegt viņam spēcīgas kažokādas formas.</p>
     
<p>Rorks bija piedalījies čunina titulā, kur viņš pirmo reizi sastapās ar Nruto, Sasku un sakni. Kopš pirmā acu uzmetiena viņš bija iemīlējies Safirā un centās iekarot viņas uzmanību. Bet viņa mērķis bija atteikties no Učihes Saskes, lai mēģinātu cīnīties ar kaujas eksāmenu. " NoNruto viņš ieguva titulu" Žirnoacs ”(Tolstobroviks). Lī cīnījās ar Sasku un bez problēmām uzvarēja.</p>

<p>Pēc pirmajiem diviem eksāmena posmiem viņš cīnījās ar Haāru un zaudēja cīņā. Saņēmis spēcīgu kreisās rokas un kājas traumu pēc tam, kad Gārvs bija saplosījis spēcīgu kombo ar pieciem atvērtiem debesu vārtiem un mēģinājis panākt Gārāru, salaužot viņam kreiso roku un kreiso kāju ar smiltīm.</p>

      
      </td>
  <td>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rWKda4d9pKw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </td>
    </tr>
  </table>
  
  <p><button class="button4"><a href="/">Galvena lappuse</button></p>

  <footer>
    <div class="foot1">@ Victoria Matjuscenko_2023 year</div>
  </footer>
  
</body>
  
</html>