<!DOCTYPE html>
<html lang="lv">

<head>
  <title>Saske</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  <style>
  table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
    
td, th {
  border: 1px solid #C1C1CC;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
    
tr:nth-child(even) {
  background-color: #C1C1CC;
}
  </style>
</head>

<body style="background-color:#C1C1CC;" class="page4">

<div class="header">
  <h1><mark>Naruto-pēdija</mark></h1>
</div>

<div class="topnav">
    <a href="/">Galvena</a>
    <a href="/par_mums">Par mums</a>
    <a href="/varoni">Varoņi</a>
    <a href="/palidziba">Palīdzība</a>
    <a href="/karte">Karte</a>
  </div>

  <h3 style="font-size:40px;">Par <ins>Saske Učiha</ins></h3>

  <table>
    <tr>
      <td><mark>Saske Učiha</mark> (japāņu: うちはサスケ Uchiha Sasuke) — Naruto labākais draugs un sāncensis. Apdāvināts, patstāvīgs, egoistisks, bērnībā pārdzīvojis lielu psiholoģisku traumu, kad viņa brālis nogalināja visu klanu. Saske sadraudzējas ar Naruto un Sakuru, bet tomēr nodod ciematu, lai dotos pie Oročimaru un iegūtu spēku uzveikt brāli. Saske kļūst spēcīgāks, bet reizē arī slīgst tumsā, aizmirstot seno draudzību.</p>

<p>Pēc sižeta, viņš savu vārdu ieguvis par godu Trešā Hokages tēvam Saske Sarutobi, kuru savukārt autors nosaucis par godu populāram japāņu kultūras varonim. Učiha japāņu valodā ir ļoti līdzīgs vārdam uchiwa, kas nozīmē "vēdeklis", kas ir šī klana simbols. Šāds vēdeklis agrāk tika izmantots galmu ceremonijās, lai aizsargātu karavīrus no bultām, kā arī pie uguns iekuršanas. Jāatzīmē, ka Učiha klana locekļi izmanto metodes, kuru pamatā ir uguns elementi.</p>

<p>Kisimoto (darba autors) iecerēja Saske kā sāncensi galvenajam varonim Naruto Udzumaki. Neskatoties uz Saske tumšā rakstura attīstību vēlāk stāstā, Kisimoto izvairījās attēlot viņu kā ļaundari; viņam bija grūti izdomāt tēla dizainu un bija grūti izveidot viņam piemērotu izskatu. Neskatoties uz to, Kisimoto iemācījās izbaudīt varoņa zīmēšanas procesu.</p>

<p>Saske varonis ir saņēmis dažādas atsauksmes no anime un manga auditorijas. Viņa iespaidīgās cīņas prasmes, koordinācija un sāncensība ar Naruto Udzumaki ir saņēmusi zināmu atzinību, taču Saske ir kritizēts kā stereotipisks sāncensis līdzīgu varoņu veidā no citām shonen mangām un kā aukstas personības izpausme. Tomēr Saske raksturojums stāsta vēlākajās daļās un nobriedušākā personība turpinājumos ir izpelnījusies papildu pozitīvus komentārus. Saske ir arī augsti novērtēts Naruto lasītāju aptaujās un ir bijis zinātnisku pētījumu priekšmets. Ir izlaistas ar varoni saistītas preces, tostarp figūriņas un atslēgu piekariņi.</p>
</td>
    <td>
<iframe width="560" height="315" src="https://www.youtube.com/embed/thXIJCcGSes" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </td>
  </tr>
  </table>
  <p><button class="button6"><a href="/">Galvena lappuse</button></p>
</body>
  
</html>