<!DOCTYPE html>
<html lang="lv">

<head>
  <title>Naruto</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  <style>
  table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
    
td, th {
  border: 1px solid #E9EFA7;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
    
tr:nth-child(even) {
  background-color: #E9EFA7;
}
  </style>
</head>

<body style="background-color:#E9EFA7;" class="page2">

<div class="header">
  <h3><mark>Naruto-pēdija</mark></h3>
</div>

<div class="topnav">
    <a href="/">Galvena</a>
    <a href="/par_mums">Par mums</a>
    <a href="/varoni">Varoņi</a>
    <a href="/palidziba">Palīdzība</a>
    <a href="/karte">Karte</a>
  </div>
  
  <h1 style="font-size:40px;">Par <ins>Tsunade</ins></h1>
  
  <table style="width:100%">
    <tr>
      <td><p><mark>Tsunade</mark> (綱手) ir Senju un Uzumaki klana pēctecis un ir viens no Konohagakure Sannin. Viņa ir slavena kā pasaules stiprākā kunoichi un izcilākā medicīnas māsa. Viņas mīlēto cilvēku atkārtotais zaudējums lika Tsunade vēlāk atteikties no šovinobas dzīves daudzu gadu garumā. Galu galā viņu pierunā atgriezties Konohā un uzvilkt Piektās Hokage mantiju, kur viņas prasmes ciematam izrādās nenovērtējamas.</p>
      
<p>Cunādē jau 60 gadus, bet viņu ir viegli sajaukt ar divdesmit gadu vecu meiteni. Viņai ir gari, gaiši mati, sasieti divās astēs. Viņas acis ir patīkamas, kafijas tonis. Lūpas nokrāsotas ar sārtu lūpu krāsu. Nagi nokrāsoti ar sarkanu laku. Vienmēr ģērbusies zilās bridās, gaiši pelēkā tunikā ar lielu izgriezumu uz krūtīm un gaiši zaļā apmetnī, uz kura muguras atrodas “azartspēle". Kājās bija melnas sandales ar mazu papēdi. Krūšu apkārtmērs - 106 centimetri.</p>
     
<p>Cunādē raksturs ir ļoti mainīgs. Dažreiz var būt uzliesmojoša un nepacietīga. Un, ja viņas aizkaitinājums ir tikai mazs, skaists puķe, tad vecmāmiņas dusmās ir ļoti biedējoša. Bet, neskatoties uz to, viņa ir laipna un atsaucīga. Pēc dārgo cilvēku nāves, ļoti mainījusies un kļuvusi vienaldzīgāka, aukstāka. Cunāde ir gatava upurēt savu godu tuvinieku dēļ. Pašapzinīga, gudra un neaizmirst pašattīstību. Bet Cunādē galvenais vājums ir sake un azartspēles. Par to arī saņēma iesauku "leģendārā neveiksminiece. Tāpēc jebkura spēļu iestāde viņu gaida ar atplestām rokām.</p>
     
<p>Tsunade jaunākais brālis Nawaki sapņoja, ka kādu dienu kļūs Hokage, lai varētu aizsargāt Konohas, viņu vectēva mantojumu. Nawaki divpadsmitajā dzimšanas dienā Tsunade noskūpstīja viņu uz pieres un deva viņam Hashirama kaklarotu cerībā, ka tas palīdzēs viņam sasniegt savu sapni. Viņš nomira nākamajā dienā, kad notika Otrais Šinobi pasaules karš, tādējādi atdodot viņai kaklarotu. Tsunade sāka aizstāvēt mediķu iekļaušanu visās četru cilvēku grupās, lai izvairītos no tādas nāves kā Nawaki. Hiruzens, Trešais Hokage, piekrita viņas argumentiem, taču nespēja veltīt resursus nepieciešamajai īstenošanai notiekošā kara dēļ. No otras puses, Dens Katō dalījās ar viņas uzskatiem, un, kad viņu attiecības attīstījās, viņš uzticējās viņas sapņiem kļūt par Hokage, lai viņš varētu radīt pārmaiņas Konohā un pasargāt savu mīļoto no nāves. Tsunade noskūpstīja viņu uz pieres un iedeva Hashirama kaklarotu cerībā, ka tas palīdzēs viņam sasniegt savu sapni.</p>
      
<p>Lai gan viņu komanda Hiruzen vadībā bija izklīdusi, Tsunade, Orochimaru un Džiraja kopā cīnījās Otrā Šinobi pasaules kara laikā. Vienas šādas cīņas laikā Amegakure viņi bija vienīgie trīs, kas pārcieta sadursmi ar Hanzō, par ko Hanzō viņus nodēvēja par Konoha “leģendāro Sannīnu”. Pēc kaujas Jiraija izvēlējās neatgriezties Konohā, lai viņš varētu apmācīt Eimijas bāreņus. Tsunade turpinās veikt patstāvīgu ieguldījumu karā, bieži pretojoties Čijo Sunagakure indes. Lai gan tiek uzskatīts, ka Tsunade rīcība ir uzvarējusi Konohas karā, Tsunade nespēja novērst Dena nāvi, un viņas nespēja apturēt smago asiņu zudumu radīja haemophobia.</p>
      </td>
  <td>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PhzA2yO688U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </td>
    </tr>
  </table>
  
  <p><button class="button4"><a href="/">Galvena lappuse</button></p>

  <footer>
    <div class="foot1">@ Victoria Matjuscenko_2023 year</div>
  </footer>
  
</body>
  
</html>