<!DOCTYPE html>
<html lang="lv">
  
<head>
  <title>Naruto-pēdija</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>
  
<body style="background-color:#D98880;" class="page7">

<div class="header">
  <h1><mark>Naruto-pēdija</mark></h1>
</div>

<div class="topnav">
    <a href="/">Galvena</a>
    <a href="/par_mums">Par mums</a>
    <a href="/varoni">Varoņi</a>
    <a href="/palidziba">Palīdzība</a>
    <a href="/karte">Karte</a>
  </div>

  <h1 style="font-size:40px;">Visi varoņi no anime Naruto.</h1>


 <table>
   <tr>
     <td>
<div class="gallery1">
  <a target="_blank" href="static/images/naruto.JPG">
    <img src="static/images/naruto.JPG" alt="Naruto Uzumaki" width="600" height="400">
  </a>
  <div class="desc"><button class="button1"><a href="/naruto">NARUTO</button></a></div>
</div>
     </td>

     <td>
<div class="gallery1">
  <a href="static/images/sakura.JPG">
    <img src="static/images/sakura.JPG" alt="Sakura Haruna" width="600" height="400">
  </a>
  <div class="desc"><button class="button2"><a href="/Sakura">SAKURA</button></a></div>
</div>
     </td>

     <td>
<div class="gallery1">
  <a href="static/images/saske.JPG">
    <img src="static/images/saske.JPG" alt="Saske Učiha" width="500" height="100">
  </a>
  <div class="desc"><button class="button3"><a href="/Saske">SASKE</button></a></div>
</div>
     </td>
       
     <td>
<div class="gallery1">
  <a href="static/images/Kakashi_Hatake.JPG">
    <img src="static/images/Kakashi_Hatake.JPG" alt="Kakashi Hatake" width="500" height="100">
  </a>
   <div class="desc"><button class="button3"><a href="/kakashi">KAKASHI</button></a></div>
</div>
     </td>
       
     <td>
<div class="gallery1">
  <a href="static/images/Shikamaru_Nara.JPG">
    <img src="static/images/Shikamaru_Nara.JPG" alt="Shikamaru Nara" width="500" height="100">
  </a>
   <div class="desc"><button class="button3"><a href="/shikamaru">SHIKAMARU</button></a></div>
</div>
     </td>

     <td>
<div class="gallery1">
  <a href="static/images/Hinata.JPG">
    <img src="static/images/Hinata.JPG" alt="Hinata Hjuga" width="500" height="100">
  </a>
   <div class="desc"><button class="button3"><a href="/hinata">HINATA</button></a></div>
</div>
     </td>

     <td>
<div class="gallery1">
  <a target="_blank" href="static/images/Gaara.JPG">
    <img src="static/images/Gaara.JPG" alt="Gaara" width="500" height="100">
  </a>
   <div class="desc"><button class="button3"><a href="/gaara">GAARA</button></a></div>
</div>
     </td>
      </tr>

  <tr>
    <td>
<div class="gallery1">
  <a target="_blank" href="static/images/Rock_Lee.JPG">
    <img src="static/images/Rock_Lee.JPG" alt="Rock Lee" width="500" height="100">
  </a>
   <div class="desc"><button class="button3"><a href="/roclee">ROK LEE</button></a></div>
</div>
    </td>

    <td>
<div class="gallery1">
  <a target="_blank" href="static/images/Jiraiya.JPG">
    <img src="static/images/Jiraiya.JPG" alt="Jiraiya" width="500" height="100">
  </a>
   <div class="desc"><button class="button3"><a href="/jiraja">JIRAIYA</button></a></div>
</div>
    </td>

  
 <td>
<div class="gallery1">
  <a target="_blank" href="static/images/Tsunade.JPG">
    <img src="static/images/Tsunade.JPG" alt="Tsunada" width="500" height="100">
  </a>
   <div class="desc"><button class="button3"><a href="/tsunada">TSUNADA</button></a></div>
</div>
 </td>

  <td>
<div class="gallery1">
  <a target="_blank" href="static/images/Orochimaru.JPG">
    <img src="static/images/Orochimaru.JPG" alt="Orochimaru" width="500" height="100">
  </a>
   <div class="desc"><button class="button3"><a href="/orochimaru">OROCHIMARU</button></a></div>
</div>
 </td>

   <td>
<div class="gallery1">
  <a target="_blank" href="static/images/Orochimaru.JPG">
    <img src="static/images/Ino.JPG" alt="Ino Yamanaka" width="600" height="100">
  </a>
   <div class="desc"><button class="button3"><a href="/ino">INO</button></a></div>
</div>
  </td>
    </tr>
 </table>

  <p><button class="button6"><a href="/">Galvena lappuse</button></p>
</body>
</html>